# Base Nagios command definitions.
define command{
    command_name    notify-host-by-email
    command_line    /bin/mail -r "$SMTP_FROM" -s "** $NOTIFICATIONTYPE$ Host Alert: $HOSTNAME$ is $HOSTSTATE$ **" $CONTACTEMAIL$ < "$LONGDATETIME$\n\n$HOSTOUTPUT$\n"
}

define command{
    command_name    notify-service-by-email
    command_line    /bin/mail -r "$SMTP_FROM" -s "** $NOTIFICATIONTYPE$ Service Alert: $HOSTDISPLAYNAME$/$SERVICEDESC$ is $SERVICESTATE$ **" $CONTACTEMAIL$ < "$LONGDATETIME$\n\n$SERVICEOUTPUT$\n"
}

define command{
    command_name    check-host-alive
    command_line    /usr/lib/nagios/plugins/check_ping -H $HOSTADDRESS$ -w 3000,80% -c 5000,100% -p 5
}

define command{
    command_name    check-host-dummy
    command_line    /usr/lib/nagios/plugins/check_dummy 0
}

define command{
    command_name    check-ssh-alive
    command_line    /usr/lib/nagios/plugins/check_ssh -t 1 $HOSTADDRESS$
}

define command{
    command_name    check_local_disk
    command_line    /usr/lib/nagios/plugins/check_disk -w $ARG1$ -c $ARG2$ -p $ARG3$
}

define command{
    command_name    check_local_load
    command_line    /usr/lib/nagios/plugins/check_load -w $ARG1$ -c $ARG2$
}

define command{
    command_name    check_local_procs
    command_line    /usr/lib/nagios/plugins/check_procs -w $ARG1$ -c $ARG2$ -s $ARG3$
}

define command{
    command_name    check_local_users
    command_line    /usr/lib/nagios/plugins/check_users -w $ARG1$ -c $ARG2$
}

define command{
    command_name    check_local_swap
    command_line    /usr/lib/nagios/plugins/check_swap -w $ARG1$ -c $ARG2$
}

define command{
    command_name    check_local_mrtgtraf
    command_line    /usr/lib/nagios/plugins/check_mrtgtraf -F $ARG1$ -a $ARG2$ -w $ARG3$ -c $ARG4$ -e $ARG5$
}

define command{
    command_name    check_ftp
    command_line    /usr/lib/nagios/plugins/check_ftp -H $HOSTADDRESS$ $ARG1$
}

define command{
    command_name    check_hpjd
    command_line    /usr/lib/nagios/plugins/check_hpjd -H $HOSTADDRESS$ $ARG1$
}

define command{
    command_name    check_snmp
    command_line    /usr/lib/nagios/plugins/check_snmp -H $HOSTADDRESS$ $ARG1$
}

define command{
    command_name    check_http
    command_line    /usr/lib/nagios/plugins/check_http -I $HOSTADDRESS$ $ARG1$
}

define command{
    command_name    check_ssh
    command_line    /usr/lib/nagios/plugins/check_ssh $ARG1$ $HOSTADDRESS$
}

define command{
    command_name    check_dhcp
    command_line    /usr/lib/nagios/plugins/check_dhcp $ARG1$
}

define command{
    command_name    check_ping
    command_line    /usr/lib/nagios/plugins/check_ping -H $HOSTADDRESS$ -w $ARG1$ -c $ARG2$ -p 5
}

define command{
    command_name    check_service
    command_line    /usr/lib/nagios/plugins/check_service -s $ARG1$
}

define command{
    command_name    check_pop
    command_line    /usr/lib/nagios/plugins/check_pop -H $HOSTADDRESS$ $ARG1$
}

define command{
    command_name    check_imap
    command_line    /usr/lib/nagios/plugins/check_imap -H $HOSTADDRESS$ $ARG1$
}

define command{
    command_name    check_nt
    command_line    /usr/lib/nagios/plugins/check_nt -H $HOSTADDRESS$ -p 12489 -v $ARG1$ $ARG2$
}

define command{
    command_name    check_tcp
    command_line    /usr/lib/nagios/plugins/check_tcp -H $HOSTADDRESS$ $ARG1$
}

define command{
    command_name    check_udp
    command_line    /usr/lib/nagios/plugins/check_udp -H $HOSTADDRESS$ $ARG1$
}

define command{
    command_name    process-host-perfdata
    command_line    /bin/true
}

define command{
    command_name    process-service-perfdata
    command_line    /bin/true
}
