# Command definitions used by the local demo host and notifications.
define command{
    command_name    check_local_ping
    command_line    /usr/lib/nagios/plugins/check_ping -H $HOSTADDRESS$ -w 100.0,20% -c 500.0,60% -p 5
}

define command{
    command_name    check_local_http
    command_line    /usr/lib/nagios/plugins/check_http -H $HOSTADDRESS$ -u / -a nagiosadmin:nagiosadmin
}

define command{
    command_name    notify-host-by-email
    command_line    /bin/true
}

define command{
    command_name    notify-service-by-email
    command_line    /bin/true
}
